.menu{
  width: 250px;
  box-sizing: border-box;
  padding:50px 20px;
  background-image: linear-gradient(to bottom, rgba(232,232,232,1), rgba(232,232,232,0.2),rgba(232,232,232,1),rgba(232,232,232,0.1), rgba(232,232,232,1));
  user-select: none;
  .title{
    color: #43637D;
    font-weight: bold;
    font-size: 20px;
  }
  .list{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    .title{
      color: #9C9C9C;
      font-weight: bold;
      font-size: 18px;
    }
    a{
      box-sizing: border-box;
      display: inline-flex;
      padding-left: 10px;
      align-items: center;
      color: #626771;
      margin-top: 20px;
      font-weight: bold;
      cursor: pointer;
      &.selected{
        color: red;
      }
      span{
        margin-left: 5px;
      }
    }
  }
}