.wrap{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.container{
  flex: 1;
  display: flex;
  .main{
    flex: 1;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    .content{
      flex: 1;
    }
  }
}